name: Graphs CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  graphs:
    name: Generate graphs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1.38.0
        with:
          command: run-graphs
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
